.container{
  text-align: center;
}
.heading{
  background-color: yellow;
  font-size: 30px;
  padding: 30px;
}
.searchcenter{
  text-align: center;
  font-size: 30px;
}
.searchUI{
  height:50px;
  width: 80%;
  padding: 10px;
  font-size: 20px;
}
.inputfield{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:20px;
}
.textinput{
  display: flex;
  align-items: start;
  justify-content:center ;
}
.nameprice{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}
.catcolor{
  margin-top: 30px;
  background-color: rgb(159, 207, 223);
  width: 100%;
  display: flex;
  font-size: 30px;
  padding-left:410px;
text-align: center;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
